.form__images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.form__images div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"] {
  display: none;
}

.project-button {
  width: 160px;
  height: 50px;
  flex-grow: 0;
  margin: 33.8px 4.4px 19.2px 4px;
  padding: 6px;
  border-radius: 40px;
  background-image: linear-gradient(to right, #8176af -2%, #c0b7e8 98%);
  text-align: center;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: bold;
}

.author-name {
  width: 160px;
  height: 50px;
  flex-grow: 0;
  margin: 33.8px 4.4px 19.2px 4px;
  padding: 6px;
  border-radius: 40px;
  background-image: linear-gradient(to right, #8176af -2%, #c0b7e8 98%);
  text-align: center;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .project-photo {
    width: 520.8px;
    height: 545.7px;
  }
}
