.form__inputs {
  background: radial-gradient(circle, #403a5f, #211e2e);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 200px;
}
input {
  max-width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px;
  margin: 7px 0;
  color: white;
  font-family: "Montserrat";
}
input::placeholder {
  font-family: "Montserrat";
  color: white;
}
h1 {
  font-size: 50px;
}
h3 {
  font-weight: 100;
  font-size: 27px;
  margin-top: 20px;
  margin-bottom: 30px;
}
textarea {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  height: 100px;
  margin: 7px 0;
  resize: none;
  color: white;
  font-family: "Montserrat";
}
textarea::placeholder {
  color: white;
  font-family: "Montserrat";
}

.input-error-placeholder::placeholder {
  color: red;
}

.project__form,
.owner__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.repo-demo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.repo, .demo {
  width: 50%;
}

@media (min-width: 768px) {
  .data-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
  }

  .form__inputs {
    margin: 20px;
  }
}


