.list-item__container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.card-project {
    color: black;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: sans-serif;
    padding: 20px;
    min-height: 270px;
    max-height: 300px;
    width: 450px;
    border-radius: 30px;
    background-color: white;
    margin: 15px;
    align-items: center;
    font-family: "Poppins";
    overflow: hidden;
}

a {
    text-decoration: none;
}

@media (min-width: 768px){
    .main-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }
}

