/* RESET

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #302C42;
  color: white;
  font-family: "Montserrat";
}


@media screen and (min-width: 420px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (min-width: 560px) {
  :root {
    font-size: 14px;
  }
}
 */

 /* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #302C42;
  color: white;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

/* Móvil pequeño */
@media screen and (min-width: 375px) {
  html {
    font-size: 11px;
  }
}

/* Móvil */
@media screen and (min-width: 420px) {
  html {
    font-size: 12px;
  }
}

/* Tablet */
@media screen and (min-width: 560px) {
  html {
    font-size: 14px;
  }
}

/* Desktop */
@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
